{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="below-nav">

        <img src="{% static 'images/hero_stock_image.jpg' %}" alt="Image of financial concept" id="hero_image">
        <img src="{% static 'images/logo_star.png' %}" alt="Logo divider" id="logo_pentagon">

        <div class="profile_image_container is-hidden-tablet">
            <img src="{% static 'images/darren_profile.jpg' %}" alt="Image of Darren Manser" class="profile_image">
        </div>

        <div class="mission_statement is-hidden-tablet">
            <p>
                Take your first step towards financial freedom with tailored
                lifestyle planning that helps you create the life you want.
            </p>
        </div>

        <div class="is-hidden-mobile" id="image_statement_container">
            <div class="profile_image_container">
                <img src="{% static 'images/darren_profile.jpg' %}" alt="Image of Darren Manser" class="profile_image">
            </div>

            <div class="mission_statement">
                <p>
                    Take your first step towards financial freedom with tailored
                    lifestyle planning that helps you create the life you want.
                </p>
            </div>

        </div>


        <h2 class="subtitle">Why i chose sirius wealth management?</h2>

        <div id="testimonial_carousel" class="carousel">

            <div class="item-1 carousel-item">
                <div class="testimonial">
                    I was about to go through a divorce, and Darren helped me engage with
                    other professionals that were very helpful. With the Solicitor and Rupert,
                    I found this time much easier than it could have been. We have met regularly,
                    and my financial plan has changed many times over the years, given my 
                    changes in circumstances. Darren has been very patient with me. I have 
                    recommended Sirius to friends. <br>
                    <span class="client-name">- John Docherty</span>
                </div>
            </div>

            <div class="item-2 carousel-item">
                <div class="testimonial">
                    I was about to go through a divorce, and Darren helped me engage with
                    other professionals that were very helpful. With the Solicitor and Rupert,
                    I found this time much easier than it could have been. We have met regularly,
                    and my financial plan has changed many times over the years, given my
                    changes in circumstances. Darren has been very patient with me. I have
                    recommended Sirius to friends. <br>
                    <span class="client-name">- Sally Fields</span>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'bulma-carousel/dist/js/bulma-carousel.min.js' %}"></script>
<script>

    bulmaCarousel.attach('#testimonial_carousel', {
        slidesToScroll: 1,
        slidesToShow: 1,
        breakpoints: [{
            changePoint: 1023,
            slidesToShow: 1,
            slidesToScroll: 1
        },
        // {
        //     changePoint: 640,
        //     slidesToShow: 1,
        //     slidesToScroll: 1
        // },
        // {
        //     changePoint: 768,
        //     slidesToShow: 1,
        //     slidesToScroll: 1
        // },
        {
            changePoint: 1500,
            slidesToShow: 2,
            slidesToScroll: 1
        }
        ]
    });

</script>

{% endblock %}