{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="below-nav">

        <img src="{% static 'images/hero_stock_image.jpg' %}" alt="Image of financial concept" id="hero_image">
        <img src="{% static 'images/logo_star.png' %}" alt="Logo divider" id="logo_pentagon">

        <section id="mission_statement_area">

            <div class="profile_image_container is-hidden-tablet">
                <img src="{% static 'images/darren_profile.jpg' %}" alt="Image of Darren Manser" class="profile_image">
            </div>

            <div class="mission-statement is-hidden-tablet">
                <p>
                    Take your first step towards financial freedom with tailored
                    lifestyle planning that helps you create the life you want.
                </p>
            </div>

            <div class="is-hidden-mobile" id="image_statement_container">
                <div class="profile_image_container">
                    <img src="{% static 'images/darren_profile.jpg' %}" alt="Image of Darren Manser" class="profile_image">
                </div>

                <div class="mission-statement">
                    <p>
                        Take your first step towards financial freedom with tailored
                        lifestyle planning that helps you create the life you want.
                    </p>
                </div>

            </div>
        
        </section>

        <section id="testimonials">

            <h2 class="subtitle">Why i chose sirius wealth management?</h2>

            <div id="testimonial_carousel" class="carousel">

                <div class="item-1 carousel-item">
                    <div class="testimonial">
                        I was about to go through a divorce, and Darren helped me engage with
                        other professionals that were very helpful. With the Solicitor and Rupert,
                        I found this time much easier than it could have been. We have met regularly,
                        and my financial plan has changed many times over the years, given my 
                        changes in circumstances. Darren has been very patient with me. I have 
                        recommended Sirius to friends. <br>
                        <span class="client-name">- John Docherty</span>
                    </div>
                </div>

                <div class="item-2 carousel-item">
                    <div class="testimonial">
                        I was about to go through a divorce, and Darren helped me engage with
                        other professionals that were very helpful. With the Solicitor and Rupert,
                        I found this time much easier than it could have been. We have met regularly,
                        and my financial plan has changed many times over the years, given my
                        changes in circumstances. Darren has been very patient with me. I have
                        recommended Sirius to friends. <br>
                        <span class="client-name">- Sally Fields</span>
                    </div>
                </div>

            </div>

        </section>

        <section id="service_intro">

            <h3 class="subtitle">How we can help you...</h3>

            <div id="card_container" class="columns">

                <div class="column">

                    <div class="card">

                        <header class="card-header">
                            <h4 class="service-title">Retirement</h4>
                        </header>

                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/retirement.jpg' %}" alt="Old people in front of water" id="retirement_img">
                            </figure>
                        </div>

                        <div class="card-content">
                    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris. .
                                
                            </div>
                        </div>

                    </div>

                    <div class="card is-hidden-desktop">

                        <header class="card-header">
                            <h4 class="service-title">Savings</h4>
                        </header>

                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/savings.jpg' %}" alt="Piggy bank" id="savings_img">
                            </figure>
                        </div>

                        <div class="card-content">
                    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris. .
                                
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="column">

                    <div class="card">

                        <header class="card-header">
                            <h4 class="service-title">Investments</h4>
                        </header>

                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/investment.jpg' %}" alt="Oak Tree" id="investment_img">
                            </figure>
                        </div>

                        <div class="card-content">
                    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris. .
                                
                            </div>
                        </div>

                    </div>

                </div>

                <div class="column is-hidden-touch">

                    <div class="card">

                        <header class="card-header">
                            <h4 class="service-title">Savings</h4>
                        </header>

                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/savings.jpg' %}" alt="Piggy bank" id="savings_img">
                            </figure>
                        </div>

                        <div class="card-content">
                    
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris. .
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        
        </section>

        <section id="contact_intro">

            <h5 class="subtitle has-text-white">Why not leave us a message?<h5>

            <div class="button-container">
                <a href="#" class="button">Leave message</a>
            </div>

            <div class="has-text-white" id="contact_info_container">

                <ul class="contact-info mb-5">
                    <li  class="mb-2">
                        <i class="fas fa-phone mr-3"></i>
                        01234 555 555
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-envelope mr-3 mb-2"></i>
                        darren@swmllp.co.uk
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-map-marker-alt mr-3"></i>
                        <ul>
                            <li>
                                427 Bedford Heights,
                            </li>
                            <li>
                                Brickhill Drive,
                            </li>
                            <li>
                                Bedford, MK41 7PH
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="" id="social_links_container">
                <div class="social-links mb-5">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                     <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                     </a>
                </div>
            </div>
        </section>
        
        
    </div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'bulma-carousel/dist/js/bulma-carousel.min.js' %}"></script>
<script>

    bulmaCarousel.attach('#testimonial_carousel', {
        slidesToScroll: 1,
        slidesToShow: 1,
        breakpoints: [{
            changePoint: 1023,
            slidesToShow: 1,
            slidesToScroll: 1
        },
        {
            changePoint: 1500,
            slidesToShow: 2,
            slidesToScroll: 1
        }
        ]
    });

</script>

{% endblock %}