/* line 1, static/scss/main.scss */
.navbar {
  display: flex;
  background-color: #86959c;
  height: 140px; }

/* line 7, static/scss/main.scss */
.navbar-brand {
  text-align: center; }

/* line 11, static/scss/main.scss */
#nav_logo {
  height: 140px; }

/* line 16, static/scss/main.scss */
.navbar-item {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  text-decoration: none; }

@media (min-width: 769px) {
  /* line 24, static/scss/main.scss */
  .navbar-brand {
    width: 33%;
    text-align: left; }
  /* line 29, static/scss/main.scss */
  .navbar-menu {
    width: 66%; }
    /* line 32, static/scss/main.scss */
    .navbar-menu .navbar-start {
      width: 24.25%; }
    /* line 35, static/scss/main.scss */
    .navbar-menu .navbar-end {
      width: 75.75%; } }
